cffi==2.0.0
cryptography==46.0.5
dotenv==0.9.9
freez==0.0.0
greenlet==3.3.2
inflect==7.5.0
libusb1==3.3.1
more-itertools==10.8.0
ndeflib==0.3.3
nfcpy==1.0.4
pycparser==3.0
pyDes==2.0.1
pyotp==2.9.0
pyserial==3.5
python-dotenv==1.2.2
sqlacodegen==4.0.2
SQLAlchemy==2.0.48
typeguard==4.5.1
typing_extensions==4.15.0
